# Node
node_modules
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtualenv
venv/
.venv/
env/
ENV/

# Environnement
.env
.env.local
.env.*.local

# Tests
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db